<style>
  .auth-wrapper{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .auth-wrapper .sign-form{
    max-width: 350px;
    width: 100%;
    padding: 0 20px;
  }

  .auth-wrapper h1{margin-bottom: 20px;}
</style>
  
<div class="auth-wrapper">
  <div class="sign-form">
    <h1>Request Recovery Code</h1>

    <%= form_for(req, {action: "/requestRecovery"}) { %>
      <%= f.InputTag("Email") %>
      
      <button class="btn btn-success">Send Recovery Code!</button>
    <% } %>
  </div>
</div>